
.main{
    width: 35%;
    margin: auto;
    margin-top: 30vh;
    display: flex;
    justify-content: space-evenly;
}
.btns{
    height: 40px;
    width: 30%;
    font-size: 1.2rem;
    background-color: green;
    color:white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.link{
    text-decoration: none;
    color:white;
}
.del_btn{
    height: 40px;
    width: 30%;
    font-size: 1.2rem;
    background-color: red;
    color:white;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}
