.btn{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 15%;
    margin: auto;
    /* border: 1px solid red; */
}
.page{
    color:white;
    background-color: grey;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.dis{
    width: 40px;
    border: none;
    background: transparent;
}